html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

/* Navbar */

nav {
    display: flex;
    background-color: #FBFEFD;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 222;
    position: fixed;
}

nav h3 {
    margin: auto 0;
    font-size: 22px;
}

nav h3 span {
    color: orange;
    font-size: 22px;
}

nav .nav {
    display: flex;
    list-style: none;
    width: 50%;
    position: relative;
    margin: auto 0;
    justify-content: space-evenly;
}

nav .nav .nav-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav .nav .nav-item::after {
    z-index: 1;
    content: "";
    height: 3px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav .nav .nav-item:hover::after {
    width: 100%;
    /* background: red; */
}

nav .nav .nav-item a {
    text-decoration: none;
    color: #707070;
    font-size: 15px;
    font-weight: 600;
}

nav .nav .nav-item a:hover {
    color: orange;
}

.nav-item .nav-link.active {
    font-weight: 600;
    color: orange;
}

/* Home */

.home {
    position: relative;
    background-color: #FBFEFD;
    width: 100%;
    height: 90vh;
    margin-top: 65px;
}

.home-menu {
    display: flex;
    justify-content: space-between;
}

.home-menu .profile {
    height: 80vh;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .sosmed {
    display: flex;
    width: 60%;
}

.profile .sosmed li {
    list-style: none;
    margin: 0 20px 0 0;
    border: 2px solid orange;
    padding: 3px 8px;
    border-radius: 50%;
}

.profile .sosmed li:hover {
    background-color: orange;
}

.profile .sosmed li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.profile .sosmed li:hover a {
    color: white;
}

.profile h3 {
    margin: 8px 0;
}

.profile h3 span {
    color: orange;
    font-weight: bold;
}

.profile .btn-cv {
    margin-top: 5px;
    border: 2px solid orange;
    width: max-content;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}

.profile .btn-cv:hover {
    background-color: orange;
    color: white;
}

.home-menu .images {
    width: 50%;
    height: 80vh;
    position: absolute;
    right: 100px;
}

.images img {
    height: 80%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-30%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 30px;
}

.images:hover .girl {
    left: 50%;
}


/* Services */
.services {
    background-color: #f2f2f2;
    padding: 20px 0;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.services h3 {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

h3 span {
    color: orange;
}

.services .subtitle {
    text-align: center;
    font-weight: bold;
    font: 20px;
    color: #707070;
}

.services .text-body {
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.services .text-body::after {
    z-index: 1;
    content: "";
    height: 3px;
    width: 100px;
    background: orange;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    transition: 0.5s;
}

.text-body p {
    text-align: center;
}


.body-services {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.body-services .card {
    width: 100%;
    height: 200px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    transition: transform 0.3s ease-in-out;
}

.body-services .card:hover {
    transform: scale(1.05);
}

.card i {
    font-size: 40px;
    color: orange;
    margin: 10px 0;
}

.card-header {
    padding: 10px 20px;
    box-sizing: border-box;
}

.card-header h4 span {
    color: orange;
}

.card-body {
    padding: 0px 20px 10px 20px;
}

.card-body p {
    font-size: 13px;
    color: white;
}

/* About Us */
.about {
    background-color: #FBFEFD;
    padding: 20px 0;
    height: auto;
    width: 100%;
}

.header-about {
    position: relative;
    width: 100%;
}

.about h3 {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.about .subtitle {
    text-align: center;
    font-weight: bold;
    font: 20px;
    color: #707070;
}

.about .text-body {
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.about .text-body::after {
    z-index: 1;
    content: "";
    height: 3px;
    width: 100px;
    background: orange;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    transition: 0.5s;
}

.about .text-body p {
    text-align: center;
}

.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 100%;
    height: auto;
    position: relative;
}

.images-about {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.images-about img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.deskripsi-about {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.deskripsi-about h3 {
    text-align: start;
}

.about-contact {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.about-contact .card-about {
    width: 45%;
}

.card-about h5 {
    color: #000;
}

.card-about p {
    color: #707070;
}

/* Recent Work */
.contact {
    height: 100vh;
    display: flex;
}

.contact .container {
    margin: auto;
}

.contact .title {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 40px 0;
}

.title span {
    color: orange;
}

.wrapper {
    max-width: 100%;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 45%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card-work {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card-work, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-work {
    scroll-snap-align: start;
    height: auto;
    list-style: none;
    background: #eee;
    cursor: pointer;
    padding: 15px 0px;
    flex-direction: column;
    border-radius: 8px;
}

.card-work .img img {
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card-work .img img:hover {
    transform: scale(1.05);
}

.carousel .card-work h2 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 30px 0 5px;
}

.carousel .card-work p {
    /* background-color: rebeccapurple; */
    margin: 0 20px;
    box-sizing: border-box;
    color: #6A6D78;
    font-size: 14px;
    text-align: center;
}

footer {
    box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, orange, #e4c48c);
    width: 100%;
    height: auto;
}

footer p {
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

footer .footer {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    height: auto;
}

.footer .card-footer {
    text-align: center;
    /* background-color: red; */
}

.footer .card-footer h3 {
    margin: 20px 0px;
    color: #FBFEFD;
}

.footer .card-footer p {
    color: #fff;
}

ul.follow-me {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

ul.follow-me li {
    list-style: none;
    margin: 0 10px 0 0;
    border: 2px solid #fff;
    padding: 9px 15px;
    border-radius: 50%;
    transition: 0.3s;
}

ul.follow-me li:hover {
    background-color: white;
}

.follow-me li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

ul.follow-me li:hover a {
    color: #000;
}





/* Hambuger Menu*/
.menu-toggle {
    top: 25px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #707070;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #707070;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #707070;
}

.menu-toggle input:checked nav h3 {
    opacity: 0;
    visibility: hidden;
}


/* Transision Animasi*/
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-top {
    animation: fade-top 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    40% {
        transform: translateX(-35px);
        opacity: 0.5;
    }

    60% {
        transform: translateX(-20px);
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    40% {
        transform: translateX(35px);
        opacity: 0.5;
    }

    60% {
        transform: translateX(20px);
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@media screen and (max-width: 576px) {

    nav .nav {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #FBFEFD;
        top: 0;
        height: 50vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateY(-50%);
        transition: all 1s;
        opacity: 0;
        width: 100%;
    }

    nav .nav .nav-item a {
        color: #707070;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateY(-10%);
    }

    .menu-toggle {
        display: flex;
    }


    /* Home */
    .home {
        position: relative;
        background-color: #FBFEFD;
        width: 100%;
        height: 100%;
        margin-top: 65px;
    }

    .home-menu {
        /* background-color: blue; */
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        /* display: flex;
        flex-direction: column-reverse;
        align-items: center; */
    }

    .home-menu .profile {
        /* background-color: aqua; */
        margin-top: 550px;
        width: 100%;
        /* padding: 30px; */
        box-sizing: border-box;
        height: 60vh;
    }

    .profile .sosmed {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .profile .sosmed li {
        list-style: none;
        margin: 0 10px 0 0;
        border: 2px solid orange;
        padding: 3px 8px;
        border-radius: 50%;
    }

    .profile .sosmed li:hover {
        background-color: orange;
    }

    .profile .sosmed li a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .profile .sosmed li a:hover {
        color: white;
    }

    .profile h3 {
        margin: 8px 0;
        text-align: center;
    }

    .profile h3 span {
        color: orange;
        font-weight: bold;
    }

    .profile p {
        text-align: center;
    }

    .profile .btn-cv {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        font-size: 15px;
        display: block;
        text-align: center;
    }

    .profile .btn-cv:hover {
        background-color: orange;
        color: white;
    }

    .home-menu .images {
        /* background-color: #000; */
        width: 100%;
        height: 70vh;
        /* margin-top: 20px; */
    }

    .images img {
        width: 100%;
        height: auto;
        /* Allow the height to adjust based on the aspect ratio */
        max-height: 70vh;
        /* Limit the maximum height to 80% of the viewport height */
        object-fit: cover;
        /* Maintain aspect ratio and cover the container */
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }


    .images .shape {
        left: 80%;
    }

    .images .girl {
        left: 80%;
    }

    .images:hover .shape {
        bottom: 30px;
    }

    .images:hover .girl {
        left: 50%;
    }


    /* Services */
    .services .text-body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        /* Tambahkan properti ini */
    }

    /* About */
    .about .text-body {
        width: 100%;
    }

    .about-body {
        display: flex;
        flex-direction: column;
    }

    .images-about {
        width: 100%;
    }

    .deskripsi-about {
        width: 100%;
    }

    .about-contact {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .about-contact .card-about {
        width: 100%;
    }

    .card-about h5 {
        color: #000;
    }

    .card-about p {
        color: #707070;
    }

    /* Rencent Work */
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

}